<template>
    <tr :key="item.name">

        <td >{{ item.id }}</td>
        <td class="productCol" contenteditable>{{ item.brand }} {{ item.product }}</td>

        <td class="weightInput"
            contenteditable
            @keydown.enter="endEdit">
            {{ this.item.weight }}
        </td>

        <td>
            <!-- TODO: remove hard-coded options -->
            <select class="weightSelect"
                v-model="targetWeightUnit"
                @change="convertWeight">
                <option>oz</option>
                <option>lbs</option>
                <option>kg</option>
                <option>g</option>
            </select>
        </td>

        <td >
            <QuantityToggle
                :quantity="item.quantity"
                @increment="increment"
                @decrement="decrement"
            />

        </td>
    </tr>
</template>

<script>
import QuantityToggle from './QuantityToggle';
import ClickOutside from 'vue-click-outside';
import convertWeight from '../utils.js';

export default {
    name: "CategoryRow",
    components: {
        QuantityToggle
    },
    directives: {
        ClickOutside
    },
    props: {
        /**
         * @param Number id
         * @param String brand
         * @param String product
         * @param Number weight
         * @param String weightUnit
         * @param Number quantity
         */
        item: {
            type: Object,
            required: true
        }
    },
    data () {
        return {
            targetWeightUnit: ''
        };
    },


    methods: {
        /**
         * Editing Fields
         */
        endEdit(event) {
            console.log("endEdit", event.target.innerText);
            this.item.weight = event.target.innerText;
            this.$el.querySelector('.weightInput').blur();
        },
        clickOutside(event) {
            console.log("clicked outside", event.target.innerText);
        },

        /**
         * Weight Conversions
         */
        dumpWeight() {
            console.log(this.item.weight);
        },

        convertWeight() {
            this.convert(this.targetWeightUnit);
         },
         convert(targetWeightUnit) {
            // calculate the target weight
            var targetWeight = convertWeight(
                this.item.weight,
                this.item.weightUnit,
                targetWeightUnit
            );
            // update the UI and internal state
            this.item.weight = targetWeight;
            this.item.weightUnit = targetWeightUnit;
            this.targetWeightUnit = this.item.weightUnit;
         },

        /**
         * Quantity Counter Methods
         */
        increment() {
            this.item.quantity++;
        },
        decrement() {
            if (this.item.quantity > 1) {
                this.item.quantity--;
            }
        }
    },

    /**
     * Lifecycle Methods
     */
    created () {
        // set initial weights and selector
        this.targetWeightUnit = this.item.weightUnit;
    },
    updated() {
        this.$emit('rowUpdate');
    }
};
</script>

<style>
.productCol {
    text-align:start;
}
.weightSelect {
    max-width: 50px;
}
</style>
