<template>
    <div class="categoryList">

        <h3>Draggable Category List</h3>
        <table class="table">
            <thead>

                <!-- TODO: remove hard-coded headers-->
                <tr>
                    <th scope="col">Id</th>
                    <th class="productCol" scope="col">Product</th>
                    <th class="weightInputHeader" scope="col">Weight</th>

                    <th scope="col">
                        <select v-model="this.selected"
                            @change="updateWeight">
                            <option>oz</option>
                            <option>lbs</option>
                            <option>kg</option>
                            <option>g</option>
                        </select>
                    </th>

                    <th scope="col">Quantity</th>

                </tr>
            </thead>

            <!-- what does this do? -->
            <draggable v-model="list" tag="tbody">

            <CategoryRow
                v-for="item in list"
                :key="item.id"
                :item="item"
                @rowUpdate="rowUpdate"
            />

            </draggable>
        </table>
    </div>
</template>

<script>
import draggable from "vuedraggable"
import CategoryRow from "./CategoryRow"

export default {
    name: "CategoryList",
    components: {
        draggable,
        CategoryRow
    },
    props: {
        list: {
            type: Array,
            required: true
        },
        defaultWeight: {
            type: String,
            required: true
        }
    },
    data() {
        return {
            selected: '',
        };
    },
    created() {
        this.selected = this.defaultWeight;
    },
    methods: {

        // captures all updates to child rows
        rowUpdate() {
        },

        // convert all the rows to a given unit
        updateWeight(event) {
            console.log("this.selected:", this.selected);
            console.log("event", event);

            this.defaultWeight = this.selected;
            this.$children[0].$children.forEach(item => {
                item.convert(this.selected);
            });
        }
    },
    updated() {
        console.log("updated lifecycle event");
        this.$emit('listUpdate');
    }
};
</script>

<style>
.weightInputHeader {
    text-align: right;
}
.categoryList {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.productCol {
    text-align:start;
}

.table {
    width: 100%;
}
</style>

