<template>
    <div class="quantity-toggle">
        <input class="quantity-input" type="text" :value="quantity" readonly>
        <button @click="$emit('decrement')">
            &mdash;
        </button>
        <button @click="$emit('increment')">
            &#xff0b;
        </button>
    </div>
</template>

<script>
export default {
    name: "QuantityToggle",
    props: {
        quantity: {
            type: Number,
            required: true
        }
    }
};
</script>

<style>

.quantity-input {
    max-width: 50px;
}

$border: 2px solid #ddd;

.quantity-toggle {
  display: inline-block;
  
  input {
    border: 0;
    border-top: $border;
    border-bottom: $border;
    width: 1rem;
    text-align: center;
    padding: 0 .5rem;
  }
  
  button {
    border: $border;
    padding: .5rem;
    background: #f5f5f5;
    color: #888;
    font-size: 1rem;
    cursor: pointer;
  }
}

</style>
