<template>
  <div id="app">
    <CategoryList
      v-bind:list="list"
      v-bind:defaultWeight="defaultWeight"
      @listUpdate="listUpdate"

    />

    <!-- Add new item -->
    <p>
      <button v-on:click="addNewItem">Add New</button>
    </p>

    <!-- Search Bar -->
    <div class="container">
      <ais-instant-search :search-client="searchClient" index-name="dev_PRODUCTS">
        <ais-index index-name="dev_PRODUCTS">
          <ais-configure :hitsPerPage="3" :restrictSearchableAttributes="['brand','product']"/>
          <ais-autocomplete>
            <template slot-scope="{ currentRefinement, indices, refine }">
              <vue-autosuggest
                :suggestions="indicesToSuggestions(indices)"
                @selected="onSelect"
                :input-props="{
                  style: 'width: 100%',
                  onInputChange: refine,
                  placeholder: 'Add new item...',
                }"
              >
                <template slot-scope="{ suggestion }">
                  <ais-highlight
                    :hit="suggestion.item"
                    attribute="product"
                    v-if="suggestion.item.product"
                  />
                  <strong>{{ suggestion.item.weight }}</strong>
                </template>
              </vue-autosuggest>
            </template>
          </ais-autocomplete>
        </ais-index>
      </ais-instant-search>
    </div>


  </div>
</template>

<script>
import CategoryList from './components/CategoryList.vue';

// search
import algoliasearch from 'algoliasearch/lite';
import 'instantsearch.css/themes/algolia-min.css';
import { VueAutosuggest } from 'vue-autosuggest';


export default {
  name: 'App',
  components: {
    CategoryList,
    VueAutosuggest
  },
  data() {
    return {
        list: [
              {
                  id: 1,
                  brand: "REI",
                  product: "Big Agnes XL",
                  weight: "15.4",
                  weightUnit: "oz",
                  quantity: 1
              },
              {
                  id: 2,
                  brand: "Black Diamond",
                  product: "Metal Pitons",
                  weight: "2.3",
                  weightUnit: "oz",
                  quantity: 1
              },
              {
                  id: 3,
                  brand: "Kelty",
                  product: "Sleeping Pillow - Inflatable",
                  weight: "0.8",
                  weightUnit: "oz",
                  quantity: 2
              },
              {
                  id: 4,
                  brand: "Canada Goose",
                  product: "Alpine AScenders Outer Shell",
                  weight: "3.4",
                  weightUnit: "lbs",
                  quantity: 1
              },
              {
                  id: 5,
                  brand: "Patagonia",
                  product: "Synchilla Rugby Fleece - Green",
                  weight: "6.3",
                  weightUnit: "oz",
                  quantity: 3
              }
        ],
        defaultWeight: "oz",

        // Algolia search
        searchClient: algoliasearch(
            process.env.VUE_APP_ALGOLIA_CLIENT,
            process.env.VUE_APP_ALGOLIA_SECRET
        ),
        query: ''
    };
  },

  mounted() {
    if (localStorage.gearList) {
      console.log("fetching list from localstorage...");
      var gearList = JSON.parse(localStorage.gearList);
      this.list = gearList.list;
      this.defaultWeight = gearList.defaultWeight;
    }
  },
  methods: {
    addNewItem(brand, product, weight, unit = "g", qty = 1) {
      this.list.push({
        brand: brand,
        product: product,
        weight: weight,
        weightUnit: unit,
        quantity: qty
      });
      this._updateLocalStorage();
    },
    listUpdate() {
      this._updateLocalStorage();
    },

    /**
     * Helper method to update Local Storage
     */
    _updateLocalStorage() {
      localStorage.gearList = JSON.stringify({
        list: this.list,
        defaultWeight: this.defaultWeight
      });
      console.log("localStorage:", localStorage.gearList);
    },

    /**
     * Algolia Search
     */
    onSelect(selected) {
      if (selected) {
        console.log("setting query to ", selected.item.product);
        this.query = selected.item.product;

        // todo:parse weight "144g"

        this.addNewItem(
            selected.item.brand,
            selected.item.product,
            selected.item.weight
        );
      }
    },
    indicesToSuggestions(indices) {
      /*console.log('indicesToSuggestions()...', indices);*/
      return indices.map(({ hits }) => ({ data: hits }));
    },

  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

body,
h1 {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.ais-Highlight-highlighted {
  background: cyan;
  font-style: normal;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

#autosuggest input {
  font: inherit;
}

.autosuggest__results-container {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.autosuggest__results-container ul {
  margin: 0;
  padding: 0;
}

.autosuggest__results_item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  list-style-type: none;
  padding: 0.5em;
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;
}

</style>
